        body,
        html {
            height: 100%;
            padding: 0;
            margin: 0;
        }
        
        body {
            background: url(../img/fondo.jpg);
            background-size: cover;
            background-position: center;
        }
        
        header {
            background-color: #130f0e;
        }
        
        footer {
            background-color: #130f0e;
        }
        
        .img-fluid {
            margin-bottom: 30px;
        }
        
        .carousel-inner {
            height: 450px;
        }
        
        .parrafo {
            padding-left: 200px;
            padding-right: 200px;
        }
        
        .titulo-galeria {
            font-weight: 100px;
        }
        
        .img-galery:hover {
            box-shadow: 0px 0px 19px 2px rgba(221, 221, 242, 0.75);
            -webkit-box-shadow: 0px 0px 19px 2px rgba(221, 221, 242, 0.75);
            -moz-box-shadow: 0px 0px 19px 2px rgba(221, 221, 242, 0.75);
        }
        
        .form-group {
            width: 50%;
            align-content: center;
        }
        
        @media (max-width: 426px) {
            .parrafo {
                display: none;
            }
        }